.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin-right: 25px;
}

.nav-title {
  font-size: 60px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-style: italic;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  transition: transform .07s;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #46ADE0;
  color: black;
  filter: drop-shadow(0 0 0.90rem black);
  transform: scale(1.07);
}

.p-design-nav {
  font-style: italic;
  margin-top: 0px;
  margin-left: 145px;
  margin-bottom: 0px;
  color: #f2f2f2;
}